.conteiner {
    width: 850px;
    margin: auto;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    word-spacing: 8px;
}

a {
    color: black;
}

.nounder {
    text-decoration: none;
}